#message-pane {
    background: url(http://www.lifewallpapers.net/data/out/93/4338781-dark-3d-wallpapers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom
}
